{% extends 'base.j2' %}
{% block content %}
<h1>Dicer</h1>
<form action="" class="{{ g.curr }}">
	<input type="number" min="1" max="100" value="3">
	<div class="radiobox">
		<div class="radios">
			<div class="row">
				<label for="rad1">EFF</label><input name="flavor" type="radio" id="rad1" value="eff-large" checked>
			</div>
			<div class="row">
				<label for="rad2">Diceware</label><input name="flavor" type="radio" id="rad2" value="diceware8k">
			</div>
			<div class="row">
				<label for="rad3">Eyeware</label><input name="flavor" type="radio" id="rad3" value="eyeware8k">
			</div>
		</div>
	</div>
	<input type="submit" value="dice!">
</form>
<div class="res wrap slumber"></div>
{% endblock %}

{% block foot_extra %}
<div class="foot-extra wrap">
	<div class="hush">Dicer is an automation of <a href="http://world.std.com/~reinhold/diceware.html" target="_blank">Diceware</a>. It uses the <a href="https://www.eff.org/deeplinks/2016/07/new-wordlists-random-passphrases" target="_blank">EFF Large</a>, <a href="http://world.std.com/~reinhold/dicewarefaq.html#computer">Diceware 8k</a>, and <a href="https://github.com/nightsense/eyeware" target="_blank">Eyeware 8k</a> word lists.<br>
	The source code is available for inspection on <a href="https://github.com/schwartzman/technologist" target="_blank">GitHub</a>.</div>
</div>
{% endblock %}

{% block foot_scripts %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/dist/tools-interface.min.js?v={{ bust }}"></script>
{% endblock %}
