{% extends "base.html" %}
{% block content %}
	<img src="/static/img/Anthony-Schwartzman-mugshot.jpg" alt="Anthony Schwartzman photograph">
	<p>I'm a versatile technologist with over a decade of experience designing systems, writing code, and managing teams. My recent work has been focused on building Node bots, grafting Twig onto WordPress, and blending open APIs to produce rich UX with minimal backend. Moving forward, I'm eager to build bots of increasing sophistication and confront some real-world machine learning challenges.</p>
{% endblock %}
