{% extends 'base.j2' %}
{% block content %}
<a href="dicer/" class="button"><i class="fa fa-key"></i> dicer</a>&middot;<a href="hasher/" class="button">hasher <i class="fa fa-lock"></i></a>
{% endblock %}
