@media only screen and (min-width: 600px) {
    .head {
        .title {
            line-height: 1;
            .oomph {
                display: inline;
            }
        }
        .tag {
            margin-top: 0.5rem;
        }
    }
    .foot {
        display: flex;
        justify-content: space-between;
        .more {
            text-align: left;
            display: inline-block;
            margin-top: 0;
            & + .more {
                margin-top: 0;
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    .head {
        .tag {
            line-height: 1;
        }
        .breaker,
        .sep {
            display: inline;
        }
        .sep {
            padding: 0 0.8em;
        }
    }
    .content {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 960px) {
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag {
            margin: auto 0;
        }
    }
    .content {
        margin-top: 3rem;
    }
    .wrap {
        width: 100%;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1100px) {
    .wrap {
        max-width: 66%;
    }
}
