* {
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: $g35;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	font-weight: 300;
	padding: 1.4rem 2.5rem 0;
}

html, body {
	height: 100%;
}

.head {
    flex-shrink: 0;
	margin-bottom: 1.2rem;
	text-align: center;
	text-transform: uppercase;
	a:hover {
		text-decoration: none;
		color: inherit !important;
	}
	.title {
		font-size: 1.3rem;
		line-height: 1.2;
		.oomph {
			display: block;
			font-weight: 800;
		}
	}
	.tag {
		font-family: 'Open Sans Condensed', sans-serif;
		margin-top: 1rem;
		line-height: 1.4;
	}
	.breaker {
		display: block;
	}
	.sep {
		display: none;
	}
}

.content {
	flex: 1 0 auto;
	margin-top: 1rem;
}

.foot {
	flex: 0 0 auto;
	width: 100%;
	margin: 3rem auto;
	.more {
		text-align: center;
		& + .more {
			margin-top: 2rem;
		}
		a {
			color: $g65;
			& + a {
				margin-left: 0.5rem;
			}
		}
		.fa {
			font-size: 1.5rem;
			&:hover {
				color: inherit;
			}
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: $hit !important;
		text-decoration: underline;
	}
}

.content, .foot-extra {
	a {
		font-weight: 400;
	}
}

p {
	line-height: 1.4em;
	& + p {
		margin-top: 1rem;
	}
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	margin-top: 0.5rem;
}

.hush {
	color: $g80;
	font-size: 0.8rem;
	line-height: 1.3;
}
